body{
	background-color: #eee8aa;
	margin: 0px;
	padding: 0px;
}

.otherLink_list{ /*他のリンク*/
	list-style-type: none;
	padding-left:100px;
	line-height:1.5;
	width: 600px;
	margin-left: 200px;
	margin-right: 100px;
	padding-top: 30px;
}
.except{
	color: rgba(255, 255, 255, 0);
}
#header_whole{
	background-color: #000;
	height: 80px;
	margin-bottom: 0px;
}
header{
	height: 100px;
	background-color: block;
}
header h1{
	color: #ff0000;
	font-family: cursive;
	font-size: 300%;
	margin: 0px 0px 0px 50px;
	float: left;
}
header img{
	float: left;
}
nav ul{
	text-align: center;
	padding: 20px 0px 20px;
	margin: 0px;

}
nav li{
	display: inline;
	padding: 0px 10px 0px;
	border-right: 1px solid #fff;
}
nav{
	padding-left: 200px;
}
.navi{
	float: left;
}
.navi_language{
	float: right;
}
a:link{
	color: #fff;
}
a:visited{
	color: #fff;
}
a:active{
	color: #ff0000;
}



#footer_main{
	background-color: #000;
	padding-bottom: 200px;
	margin: 0;
	position: relative;
}
.footer_whole{
	background-color: #000;
	padding-top: 10px;
	margin-left: 200px;
	margin-right: 300px;
}
h3{
	font-family: cursive;
	color: #fff;
	border-bottom: thin dotted; /*点線を描く*/
	border-bottom-width: 1px;
	margin-bottom: 16px;
	padding-bottom: 2px;
}
.footer_list{
	color: #ffa500;
	list-style-type: square; /*ラジオボタンを四角に*/
}
.footer_list_letter{
	color: #fff;
}
.footer_border{
	text-decoration: none; /*border-bottom: none;では下線は消えない*/
}

.footer_underline{
	display: inline-block;
  	padding-bottom: 4px;
  	position: relative;
}
.footer_underline::after{
	background-color: #fff;
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: absolute;
	transition: .5s all;
	width: 0;
}
.footer_underline::after::hover{ /*マウスを当てると、下線が左から右へ伸ばす*/
	width: 100%;
}

section{
	margin-left: 20px;
}
.right{
	 text-align: right;
	 font-size: 15px;
}
.copyright{
	color: #fff;
	margin-bottom: 100px;
}






















