body{
	background-color: #eee8aa;
	margin: 0px;
	padding: 0px;
}
div img{
	margin-right: 20px;
}
.header-wrapper h1{
	color: red;
	font-size: 40px;
	font-family: cursive;
	margin: 10px 0px 0px 10px;
	/* margin-right: 30px; */
	/* top: 10px; */
}
.header-wrapper{
	background-color: black;
	height: 80px;
}
.header-left{
	float: left;
}
.header-languages{
	float: right;
	margin-right: 50px;
}
.header-wrapper ul li{ /*link of header*/
	list-style-type: none;
	font-size: 25px;
	border-right: white solid 1px;
	/* margin-right: 10px; */
	padding: 0px 10px 0px;
	display: inline;
						/* change inlines height. */
}
a{
	text-decoration: none;
}
a:link{
	color: white;
}
a:visited{
	color: white;
}

.top-wrapper{
	padding-top: 80px;
	height: 500px;
	/*main cat image.*/
	background-image: url(image/top_cat1.JPG);
	background-size: cover; /*image is covered all*/
}
footer{
	background-color: black;
	height: 200px;
}
footer h3{
	font-size: 30px;
	font-family: cursive;
	border-bottom: thin dotted; /*点線を描く*/
	border-bottom-width: 1px;
}
footer h3, footer small{
	color: white;
	margin-bottom: 10px;
}

.container{
	padding: 0px 240px;
}
footer ul li{
	color: #ffa500;
	list-style-type: square; /*ラジオボタンを四角に*/
}